body{
    background-color: #C2D8B9;
    display: grid;
    gap: 1em;
    margin:0;

}
main{
    display: grid;
    gap: 1em;
    padding-top: 180px;
    padding-bottom:60px;
}
/* Homepage grid area */
.home{
    grid-template-areas:
    'div'
    'section-2'
    'section-1'
    ;
}
/* About page grid area */
.about{
    grid-template-areas: 
    'div'
    'hobby-1'
    'hobby-2'
    'hobby-3'
    ;
}

/* Portfolio page grid area */
.portfolio{
    grid-template-areas: 
    'div'
    'project-1'
    'project-2'
    'project-3'
    ;
}
/*contact page grid */
.contact{
    grid-template-areas:
    'div'
    'section-1'
    'section-2'
    ;
}
/*Success page grid */
.success{
    grid-template-areas:
    'div'
    'section'
    ;
}
/* Persistent header style */
header{
    background-color: #673C4F;
    border-radius: 1em;
    padding: 10px;
    position:fixed;
    top:0;
    width: 100%;
}
.name{
    color: #E4F0D0;
    font-family: serif;
    font-size: 30px;
    text-align: center;
}
.links{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    transition: margin-right 2s;
}
a:link{
    color:#E4F0D0;
}
a:visited{
    color: #EDE6F2;
}
a:hover{
    background-color: #26532B;
    font-size: 55px;
}
.active{
    text-decoration: underline overline red;
}
/* Home page style */
.home{
    background-color: #E4F0D0;
    height: 80vh;
    margin: 30px;
}
.intro{
    grid-area: div;
}
.img{
    grid-area: section-1;
}
.title{
    color: #26532B;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    margin: .5em;
    text-align: left;
}
.misson{
    color:#26532B;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    margin: 1em;
}
.personal-photo{
    float:right;
    margin: 5px;
    padding: 30px;
    width: 25em;
}
.quote{
    color: #26532B;
    font-size: 1.5em;
    font-style:italic;
    grid-area: section-2;
    margin: 20px;
}
/* About page style */
.title-about{
    background-color: #E4F0D0;
    color: #26532B;
    grid-area: div;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: 20px;
}
.about-h2{
    margin-bottom: 0;
    padding: 20px;
}
.hobby-1, .hobby-2, .hobby-3{
    background-color: #E4F0D0;
    border-top:2px solid #26532B;
    color: #26532B;
    padding: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-right: 20px;
    margin-left: 20px;
}
.hobby-1{
    grid-area: hobby-1;
} 
 .hobby-2{
    grid-area: hobby-2;
} 
.hobby-3{
    grid-area: hobby-3;
}
h3{
    color: #26532B;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    margin-top: 10px;
}
.travel{
    float: right;
    margin: 20px;
    margin-right: 5px;
    width: 300px;
}
.board-game{
    float: left;
    margin: 20px;
    margin-left: 5px;
    width: 300px;
}
.cat{
    float:right;
    margin: 20px;
    margin-right: 5px;
    width: 300px;
}
/* Portfolio page style */
.project-head{
    color: #26532B;
    background-color: #E4F0D0;
    border-bottom: 2px solid #26532B;
    border-radius: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    grid-area: div;
    margin: 10px;
    padding-left: 30px;
    padding-top: 2px;
}
.proj-h2{
    margin-bottom: 10px;
}
.project-1 , .project-2, .project-3{
    background-color: #E4F0D0;
    border-radius: 1em;
    color: #26532B;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    margin: 10px;
    padding: 20px;
}
.project-1{
    grid-area: project-1;
}
.project-2{
    grid-area: project-2;
}
.project-3{
    grid-area: project-3;
}
.cats{
    border: 3px solid #26532B;
    float: right;
    margin: 10px;
    padding:3px;
}
.sharks{
    border: 3px solid #26532B;
    float: right;
    margin: 10px;
    padding: 3px;
}
.cocktails{
    border: 3px solid #26532B;
    float: left;
    margin: 10px;
    padding: 3px;
}
/* Contact page style */
.title-contact{
    color: #26532B;
    background-color: #E4F0D0;
    border:3px solid #26532B;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    grid-area: div;
    padding-left: 1em;
    border-radius: 2em;
}
.form{
    background-color: #E4F0D0;
    border-radius: 2em;
    border:3px solid #26532B;
    grid-area: section-1;
}
form{
    padding: 2em;
}
form label{
    color: #26532B;
    font-size: 2em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
input[type="submit"]{
    background-color: #673C4F;
    border-radius: 1em;
    color: #E4F0D0;
    font-size: 2em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: .5em;
    padding: 5px;
}
.kitcat{
    border-radius: 3em;
    padding: 2em;
    width: 30em;
}
.img-2{
    grid-area: section-2;
}
/* Success Page Style */
.success{
    background-color: #E4F0D0;
    margin: 30px;
}
.title-success{
    color: #26532B;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3em;
    grid-area: div;
    padding-left: 1em;
}
.puma{
    border-radius: 2em;
    margin: 1em;
    padding: 1em;
    width: 40em;
}
.img-3{
    grid-area: section;
}
/* Footer style */
.mail{
    color: #E4F0D0;
}
footer{
    background-color: #673C4F;
    border-radius: 1em;
    bottom: 0;
    font-size: 3em;
    padding: 10px;
    position: fixed;
    text-align: center;
    width: 100%;
}

/* Desktop style */
@media screen and (max-width: 1680px){
    main{
        padding-top: 220px;
        padding-bottom: 20px;
    }
    header{
        width: 100vw;
    }
    .home{
        grid-template-areas:
        'div div div div div'
        'section-2 section-2 section-2 section-1 section-1'
        ;
    }
    .personal-photo{
        float: left;
        margin: 0;
        padding: 1em;
    }
    .quote{
        font-size: 4em;

    }
    .about{
        grid-template-areas: 
        'div div div'
        'hobby-1 hobby-1 hobby-1'
        'hobby-2 hobby-2 hobby-2'
        'hobby-3 hobby-3 hobby-3'
        ;
    }
    .title-about{
        font-size: 1.5em;
        border: 2px solid #26532B;
    }
    .about-h2{
        margin-top: 0;
    }
    h3{
        font-size: 2em;
    }
    .hobby-1 , .hobby-2, .hobby-3{
        border: 2px solid #26532B;
    }
    .hobby-1 p , .hobby-2 p, .hobby-3 p{
        font-size: 1.5em;
    }
    .travel{
        width: 500px;
    }
    .board-game{
        width: 500px;
    }
    .cat{
        width: 500px;
    }
    .portfolio{
        grid-template-areas: 
        'div div div div'
        'project-1 project-1 project-1'
        'project-2 project-2 project-2'
        'project-3 project-3 project-3'
        ;
    }
    .project-head{
        border: 2px solid #26532B;
        font-size: 1.5em;
    }
    .proj-h2{
        margin-top: 10px;
    }
    .project-1 , .project-2, .project-3{
        border: 2px solid #26532B;
    }
    .project-1 p , .project-2 p, .project-3 p{
        font-size: 1.5em;
    }
    .cats{
        width: calc(10em + 10em);
    }
    .sharks{
        width: calc(6em * 3em) ;
    }
    .cocktails{
        width: calc(10em + 10em);
    }
    .contact{
        grid-template-areas:
        'div div div div div'
        'section-1 section-1 section-2 section-2 section-2'
        ;
    }
    .title-contact{
        font-size: 2em;
    }
    .form{
        margin-left: 5px;
    }
    form label{
        font-size: 2em;
    }
    input[type="submit"]{
        font-size: 2em;
    }
    .kitcat{
        width: 35em;
    }
    .success{
        grid-template-areas:
        'div div'
        'section section'
        ;
        height: 70vh;
    }
    .title-success{
        font-size: 2em;
    }
    .title-success p{
        font-size: 1em;
    }
    .puma{
        width: 35em;
    }
}

/* tablet style */
@media screen and (max-width: 1024px){
    main{
        padding-top: 180px;
        padding-bottom: 20px;
    }
    header{
        width: 100vw;
    }
    .name{
        font-size: 1.6em;
       }
     .links{
            font-size: 1.5em;
        }
    .home{
        grid-template-columns: 1fr;
        grid-template-areas:
        'div div div'
        'section-2 section-2'
        'section-1 section-1'
        ;
    }
    .title{
        font-size: 1.5em;
        margin: 1em;
        padding-left: 10px;
    }
    .misson{
        font-size: 1.3em;
        margin-top: .5em;
    }
    .quote{
        font-size: 3em;
    }
    .personal-photo{
        float: left;
        margin: 0;
        padding: 1em;
        width: 15em;
    }
    .about{
        grid-template-columns: 1fr;
        grid-template-areas: 
        'div div'
        'hobby-1 hobby-1'
        'hobby-2 hobby-2'
        'hobby-3 hobby-3'
        ;
    }
    .title-about{
        border: 2px solid #26532B;
        font-size: 1em;
    }
    .about-h2{
        margin-top: 0;
    }
    .hobby-1 , .hobby-2, .hobby-3{
        border: 2px solid #26532B;
    }
    .portfolio{
        grid-template-columns: 1fr;
        grid-template-areas: 
        'div div'
        'project-1 project-1'
        'project-2 project-2'
        'project-3 project-3'
        ;
    }
    .project-head{
        border: 2px solid #26532B;
        font-size: 1.5em;
    }
    .proj-h2{
        margin-top: 10px;
    }
    .project-1 , .project-2, .project-3{
        border: 2px solid #26532B;
    }
    .contact{
        grid-template-columns: 1fr;
        grid-template-areas:
        'div div'
        'section-1 section-2' 
        ;
    }
    .title-contact{
        font-size: 1.5em;
    }
    .form{
        margin-left: 5px;
    }
    form label{
        font-size: 1.5em;
    }
    input[type="submit"]{
        font-size: 1.5em;
    }
    .kitcat{
        width: 25em;
    }
    .success{
        grid-template-areas:
        'div div'
        'section section'
        ;
        height: 70vh;
    }
    .title-success{
        font-size: 1.5em;
    }
    .title-success p{
        font-size: .8em;
    }
    .puma{
        width: 25em;
    }
    footer{
        font-size: 3em;
        width: 100vw;
    }
}

/* phone style */
@media screen and (max-width: 480px){
    main{
        padding-top: 80px;
        padding-bottom: 20px;
    }
    header{
        width: 100vw;
    }
   .name{
    font-size: .5em
   }
    .links{
        font-size: 1em;
    }
    .home{
        border: 2px solid #26532B;
        grid-template-columns: 1fr;
        grid-template-areas:
        'div'
        'section-2'
        'section-1'
        ;
    }
    .title{
        font-size: .75em;
        margin: 0;
        padding-left: 10px;
    }
    .misson{
        font-size: 1.3em;
        margin-top: .5em;
    }
    .quote{
        font-size: 1.5em;
        margin: 0;
    }
    .personal-photo{
        float: left;
        margin: 0;
        padding: 1em;
        width: 8em;
    }
    .about{
        grid-template-columns: 1fr;
        grid-template-areas: 
        'div'
        'hobby-1'
        'hobby-2'
        'hobby-3'
        ;
    }
    .title-about{
        font-size: 8px;
        border: 2px solid #26532B;
    }
    h3{
        font-size: 15px;
    }
    .hobby-1 , .hobby-2, .hobby-3{
        border: 2px solid #26532B;
    }
    .hobby-1 p , .hobby-2 p, .hobby-3 p{
        font-size: .8em;
    }
    .travel{
        width: 200px;
    }
    .board-game{
        width: 200px;
    }
    .cat{
        width: 200px;
    }
    .portfolio{
        grid-template-columns: 1fr;
        grid-template-areas: 
        'div'
        'project-1'
        'project-2'
        'project-3'
        ;
    }
    .project-head{
        border: 2px solid #26532B;
        font-size: .8em;
    }
    .project-1 , .project-2, .project-3{
        border: 2px solid #26532B;
        font-size: .8em;
    }
    .cats{
        width: 15em;
    }
    .sharks{
        width: 12em;
    }
    .cocktails{
        width: 15em;
    }
    .contact{
        grid-template-columns: 1fr;
        grid-template-areas:
        'div'
        'section-1'
        'section-2'
        ;
    }
    .title-contact{
        font-size: 1em;

    }
    form label{
        font-size: 1em;
    }
    input[type="submit"]{
        font-size: 1em;
    }
    .kitcat{
        width: 20em;
    }
    .success{
        grid-template-columns: 1fr;
        grid-template-areas:
        'div'
        'section'
        ;
        height: 80vh;
    }
    .title-success{
        font-size: 1em;
    }
    .title-success p{
        font-size: .8em;
    }
    .puma{
        width: 15em;
    }
    footer{
        font-size: 1em;
        width: 100vw;
    }
}