body{
    background-color: #C2D8B9;
    margin:0;
    display: grid;
    gap: 1em;
    /* grid-auto-columns: 1fr; */
    /* grid-template-areas: 
    'header header header header'
    'main main main main'
    'footer footer footer footer'
    ; */
}
/* header{
    grid-area: header;
} */

main{
    padding-top: 120px;
    padding-bottom:60px;
    display: grid;
    gap: 1em;
    /* grid-auto-columns: 1fr; */
    /* grid-area: main; */
}
/* footer{
    grid-area: footer;
} */

/* Homepage grid area */
.home{
    grid-template-areas:
    /* 'div div div div div' */
    'div'
    'section-2'
    'section-1'
    /* 'section-2 section-2 section-2 section-1 section-1' */
    ;
}
/* About page grid area */
.about{
    grid-template-areas: 
    'div'
    'hobby-1'
    'hobby-2'
    'hobby-3'
    /* 'div div div'
    'hobby-1 hobby-1 hobby-1'
    'hobby-2 hobby-2 hobby-2'
    'hobby-3 hobby-3 hobby-3' */
    ;
}

/* Portfolio page grid area */
.portfolio{
    grid-template-areas: 
    'div'
    'project-1'
    'project-2'
    'project-3'
    /* 'div div div '
    'project-1 project-1 project-1'
    'project-2 project-2 project-2'
    'project-3 project-3 project-3' */
    ;
}
/*contact page grid */
.contact{
    grid-template-areas:
    'div'
    'section-1'
    'section-2'
    /* 'div div'
    'section-1 section-2' */
    ;
}
/*Success page grid */
.success{
    grid-template-areas:
    'div'
    'section'
    /* 'div div'
    'section section' */
    ;
}
/* Persistent header style */
header{
    background-color: #673C4F;
    padding: 10px;
   position:fixed;
   width: 100%;
   top:0;
   border-radius: 1em;
}
.name{
    text-align: center;
    color: #E4F0D0;
    font-family: serif;
    font-size: 20px;
}
.links{
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
a:link{
    color:#E4F0D0;
}
a:visited{
    color: #EDE6F2;
}
.active{
    text-decoration: underline overline red;
}
/* Home page style */
.home{
    background-color: #E4F0D0;
    margin: 30px;
    height: 80vh;
    ;
}
.intro{
    grid-area: div;
}
.img{
    grid-area: section-1;
}
.title{
    color: #26532B;
    text-align: left;
    font-size: 3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: .5em;
}
.misson{
    font-size: 30px;
    color:#26532B;
    font-size: 2em;
    margin: 1em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.personal-photo{
    width: 30em;
    float:right;
   padding: 30px;
   margin: 5px;
}
.quote{
    font-size: 3em;
    font-style:italic;
    color: #26532B;
    margin: 20px;
    grid-area: section-2;
}
/* About page style */
.title-about{
    background-color: #E4F0D0;
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: 20px;
    color: #26532B;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    grid-area: div;
}
.about-h2{
    margin-bottom: 0;
    padding: 20px;
}
.hobby-1, .hobby-2, .hobby-3{
    background-color: #E4F0D0;
    border-top:2px solid #26532B;
    color: #26532B;
    padding: 20px;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.hobby-1{
    grid-area: hobby-1;
} 
 .hobby-2{
    grid-area: hobby-2;
} 
.hobby-3{
    grid-area: hobby-3;
}
h3{
    font-size: 30px;
    color: #26532B;
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.travel{
    width: 300px;
    float: right;
    margin: 20px;
    margin-right: 5px;
}
.board-game{
    width: 300px;
    float: left;
    margin: 20px;
    margin-left: 5px;
}
.cat{
    width: 300px;
    float:right;
    margin: 20px;
    margin-right: 5px;
}
/* Protfolio page style */
.project-head{
    color: #26532B;
    border-bottom: 2px solid #26532B;
    border-radius: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    padding-left: 30px;
    padding-top: 2px;
    margin: 10px;
    background-color: #E4F0D0;
    grid-area: div;
}
.proj-h2{
    margin-bottom: 10px;
}
.project-1 , .project-2, .project-3{
    background-color: #E4F0D0;
    border-radius: 1em;
    color: #26532B;
    margin: 10px;
    padding: 20px;
    font-size: 25px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.project-1{
    grid-area: project-1;
}
.project-2{
    grid-area: project-2;
}
.project-3{
    grid-area: project-3;
}
.cats{
    float: right;
    padding:3px;
    margin: 10px;
    border: 3px solid #26532B;
}
.sharks{
    float: right;
    padding: 3px;
   margin: 10px;
   border: 3px solid #26532B;
}
.cocktails{
    float: left;
    padding: 3px;
    margin: 10px;
    border: 3px solid #26532B;
}
/* Contact page style */
.title-contact{
    color: #26532B;
    background-color: #E4F0D0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    padding-left: 1em;
    border-radius: 2em;
    border:3px solid #26532B;
    grid-area: div;
}
.form{
    background-color: #E4F0D0;
    grid-area: section-1;
    border-radius: 2em;
    border:3px solid #26532B;
}
form{
    padding: 2em;
}
form label{
    color: #26532B;
    font-size: 2em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
input[type="submit"]{
    color: #E4F0D0;
    background-color: #673C4F;
    font-size: 2em;
    padding: 5px;
    margin: .5em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 1em;
}
.kitcat{
    width: 30em;
    border-radius: 3em;
    padding: 2em;
}
.img-2{
    grid-area: section-2;
}
/* Success Page Style */
.success{
    background-color: #E4F0D0;
    margin: 30px;
}
   
.title-success{
    color: #26532B;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    padding-left: 1em;
    grid-area: div;
}
.puma{
    width: 20rem;
    padding: 1em;
    border-radius: 2em;
    margin: 1em;
}
.img-3{
    grid-area: section;
}
/* Footer style */
.mail{
    color: #E4F0D0;
}
footer{
    background-color: #673C4F;
    padding: 10px;
    text-align: center;
    font-size: 2em;
    position: fixed;
    width: 100%;
    bottom: 0;
    border-radius: 1em;
}

/* Desktop style */
@media screen and (max-width: 1680px){
    .home{
        grid-template-areas:
        'div div div div div'
        'section-2 section-2 section-2 section-1 section-1'
        ;
    }
    .about{
        grid-template-areas: 
        'div div div'
        'hobby-1 hobby-1 hobby-1'
        'hobby-2 hobby-2 hobby-2'
        'hobby-3 hobby-3 hobby-3'
        ;
    }
    .portfolio{
        grid-template-areas: 
        'div div div div'
        'project-1 project-1 project-1'
        'project-2 project-2 project-2'
        'project-3 project-3 project-3'
        ;
    }
    .contact{
        grid-template-areas:
        'div div div div div'
        'section-1 section-1 section-2 section-2 section-2'
        ;
    }
    .success{
        grid-template-areas:
        'div div'
        'section section'
        ;
    }
}

/* tablet style */
@media screen and (max-width: 1024px){
    .home{
        grid-template-columns: 1fr;
        grid-template-areas:
        'div div div'
        'section-2 section-2'
        'section-1 section-1'
        ;
    }
    .about{
        grid-template-columns: 1fr;
        grid-template-areas: 
        'div div'
        'hobby-1 hobby-1'
        'hobby-2 hobby-2'
        'hobby-3 hobby-3'
        ;
    }
    .portfolio{
        grid-template-columns: 1fr;
        grid-template-areas: 
        'div div'
        'project-1 project-1'
        'project-2 project-2'
        'project-3 project-3'
        ;
    }
    .contact{
        grid-template-columns: 1fr;
        grid-template-areas:
        'div div'
        'section-1 section-2' 
        /* 'section-2 section-2' */
        ;
    }
    .success{
        grid-template-areas:
        'div div'
        'section section'
        ;
    }
    .puma{
        /* width: 3em; */
    }
}

/* phone style */
@media screen and (max-width: 480px){
    main{
        padding-top: 80px;
        padding-bottom: 20px;
    }
    header{
        width: 100vw;
    }
   .name{
    font-size: .5em
   }
    .links{
        font-size: 1em;
    }
    .home{
        border: 2px solid #26532B;
        grid-template-columns: 1fr;
        grid-template-areas:
        'div'
        'section-2'
        'section-1'
        ;
    }
    .title{
        font-size: .75em;
        margin: 0;
        padding-left: 10px;
    }
    .misson{
        font-size: 1.3em;
        margin-top: .5em;
    }
    .quote{
        font-size: 1.5em;
        margin: 0;
    }
    .personal-photo{
        width: 8em;
        float: left;
        padding: 1em;
        margin: 0;
    }
    .about{
        grid-template-columns: 1fr;
        grid-template-areas: 
        'div'
        'hobby-1'
        'hobby-2'
        'hobby-3'
        ;
    }
    .title-about{
        font-size: 8px;
        border: 2px solid #26532B;
    }
    h3{
        font-size: 15px;
    }
    .hobby-1 , .hobby-2, .hobby-3{
        border: 2px solid #26532B;
    }
    .hobby-1 p , .hobby-2 p, .hobby-3 p{
        font-size: .8em;
    }
    .travel{
        width: 200px;
    }
    .board-game{
        width: 200px;
    }
    .cat{
        width: 200px;
    }
    .portfolio{
        grid-template-columns: 1fr;
        grid-template-areas: 
        'div'
        'project-1'
        'project-2'
        'project-3'
        ;
    }
    .project-head{
        font-size: .8em;
        border: 2px solid #26532B;
    }
    .project-1 , .project-2, .project-3{
        font-size: .8em;
        border: 2px solid #26532B;
    }
    .cats{
        width: 15em;
    }
    .sharks{
        width: 12em;
    }
    .cocktails{
        width: 15em;
    }
    .contact{
        grid-template-columns: 1fr;
        grid-template-areas:
        'div'
        'section-1'
        'section-2'
        ;
    }
    .title-contact{
        font-size: 1em;

    }
    form label{
        font-size: 1em;
    }
    input[type="submit"]{
        font-size: 1em;
    }
    .kitcat{
        width: 20em;
    }
    .success{
        height: 80vh;
        grid-template-columns: 1fr;
        grid-template-areas:
        'div'
        'section'
        ;
    }
    .title-success{
        font-size: 1em;
    }
    .title-success p{
        font-size: .8em;
    }
    .puma{
        width: 15em;
    }
    footer{
        width: 100vw;
        font-size: 1em;
    }
}