body{
    background-color: #C2D8B9;
}
main{
    padding-top: 150px;
    padding-bottom:80px;
    display: grid;
    gap: 1em;
    grid-auto-columns: 1fr;
}
/* Homepage grid area */
.home{
    grid-template-areas:
    'div div div div div'
    'section-2 section-2 section-2 section-1 section-1'
    ;
}
.intro{
    grid-area: div;
}
.img{
    grid-area: section-1;
}
.quote{
    grid-area: section-2;
}
/* About page grid area */
.about{
    grid-template-areas: 
    'div div div div'
    'hobby-1 hobby-1 hobby-1 hobby-1'
    'hobby-2 hobby-2 hobby-2 hobby-2'
    'hobby-3 hobby-3 hobby3 hobby-3'
    ;
}
/* .title-about{
    grid-area: div;
} */
/* .hobby-1{
    grid-area: hobby-1;
}  */
 /* .hobby-2{
    grid-area: hobby-2;
}  */
/* .hobby-3{
    grid-area: hobby-3;
} */

/* Portfolio page grid area */
.portfolio{
    grid-template-areas: 
    'div div div div'
    'project-1 project-1 project-1 project-1'
    'project-2 project-2 project-2 project-2'
    'project-3 project-3 project-3 project-3'
    ;
}
.project-head{
    grid-area: div;
}
.project-1{
    grid-area: project-1;
}
.project-2{
    grid-area: project-2;
}
.project-3{
    grid-area: project-3;
}
/*contact page grid */


/* Persistent header style */
header{
    background-color: #673C4F;
    padding: 10px;
   position:fixed;
   width: 100%;
   top:0;
}
.name{
    text-align: center;
    color: #E4F0D0;
    font-family: serif;
    font-size: 20px;
}
.links{
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
a:active{
    color:#E4F0D0;
}
a:visited{
    color: #EDE6F2;
}
.active{
    text-decoration: underline overline red;
}
/* Home page style */
.home{
    background-color: #E4F0D0;
    margin: 30px;
    height: 530px;
}
.title{
    color: #26532B;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px;
}
.misson{
    font-size: 30px;
    color:#26532B;
    font-size: 25px;
    margin: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.personal-photo{
    width: 350px;
    float:right;
   padding: 10px;
   margin: 5px;
}
.quote{
    font-size: 3em;
    font-style:italic;
    color: #26532B;
    margin: 20px;
}
/* About page style */
.title-about{
    background-color: #E4F0D0;
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: 20px;
    color: #26532B;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.about-h2{
    margin-bottom: 0;
    padding: 20px;
}
.hobby-1, .hobby-2, .hobby-3{
    background-color: #E4F0D0;
    border-top:2px solid #26532B;
    color: #26532B;
    padding: 20px;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h3{
    font-size: 30px;
    color: #26532B;
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.travel{
    width: 300px;
    float: right;
    margin: 20px;
    margin-right: 5px;
}
.board-game{
    width: 300px;
    float: left;
    margin: 20px;
    margin-left: 5px;
}
.cat{
    width: 300px;
    float:right;
    margin: 20px;
    margin-right: 5px;
}
/* Protfolio page style */
.project-head{
    color: #26532B;
    border-bottom: 2px solid #26532B;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    padding-left: 30px;
    padding-top: 2px;
    margin: 18px;
    background-color: #E4F0D0;
}
.proj-h2{
    margin-bottom: 10px;
}
.project-1 , .project-2, .project-3{
    background-color: #E4F0D0;
    color: #26532B;
    margin: 20px;
    padding: 20px;
    font-size: 25px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.cats{
    float: right;
    padding:3px;
    margin: 10px;
    border: 3px solid #26532B;
}
.sharks{
    float: right;
    padding: 3px;
   margin: 10px;
   border: 3px solid #26532B;
}
.cocktails{
    float: left;
    padding: 3px;
    margin: 10px;
    border: 3px solid #26532B;
}
/* Contact page style */
.title-contact{
    color: #26532B;
    background-color: #E4F0D0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    padding-left: 1em;
    border-radius: 2em;
    border:3px solid #26532B;
}
.form{
    background-color: #E4F0D0;
    border-radius: 2em;
    border:3px solid #26532B;
    width: 40%;
}
form{
    padding: 3em;
}
form label{
    color: #26532B;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
input[type="submit"]{
    color: #E4F0D0;
    background-color: #673C4F;
    font-size: 18pt;
    padding: 5px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 1em;
}
.kitcat{
    width: 30em;
    border-radius: 2em;
    float:  right;
}
/* Sucess Page Style */

.success{
    background-color: #E4F0D0;
    margin: 30px;
    height: 530px;
}
   
.title-success{
    color: #26532B;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    padding-left: 1em;
}
.puma{
    width: 20em;
    border-radius: 2em;
    margin: 1em;
}
/* Footer style */
.mail{
    color: #E4F0D0;
}
footer{
    background-color: #673C4F;
    padding: 10px;
    text-align: center;
    font-size: xx-large;
    position: fixed;
    width: 100%;
    bottom: 0;
}
